@CHARSET "UTF-8";
/* 使用link标签+rel属性和type+href定义一个外联标签   */
		#main{/*上右下左*/
			padding: 20px 80px 40px 50px;
			margin:100px 200px 300px 400px;
			width:400px;
			height:300px;
			border:3px solid #000;
			background-image: url(../img/1.jpg);
			background-repeat: no-repeat;
			background-position: top center;
		}
		#un{
			margin:30px 0 0 100px;
		}
		#pd{
			margin:10px 0 0 100px;
		}
		#st{
			padding:10px 20px 30px 100px;
		}
		#div1{
			padding-left:5px;/*内边距padding*/
			width:800px;
			height:400px;
			color: #f00;
			border:3px solid #000;
		}
		#div2{
			margin:10px;/*外边距*/
			height:900px;
			color: #f00;
			border:30px solid #000;
		}
		#div3{
			/*宽度和高度*/
			width:100px;
			height:100px;
			/*设置边框*/
			border:3px solid #000;
			/*设置内边距*/
			/*左内边距*/
			padding-left:10px;
			/*上内边距*/
			padding-top:20px;
		}
		#div4{
			/*宽度和高度*/
			width:800px;
			height:400px;
			/*设置边框*/
			border:3px solid #00f;
			/*设置内边距*/ /*左内边距*/
			padding-left:10px;
			/*上内边距*/
			padding-top:10px;
		}
		#div5{
			/*宽度和高度*/
			width:300px;
			float:left;/*漂浮,或者说*/
			height:350px;
			/*设置边框*/
			border:5px solid #0f0;
			/*设置内边距*/ /*左内边距*/
			margin-right:10px;
			/*上内边距*/
			padding-top:20px;
		}
		#div6{
			/*宽度和高度*/
			width:300px;
			height:350px;
			float:top;/*漂浮,或者说*/
			border:5px solid #000;
			/*设置内边距*/ /*左内边距*/
			margin-left:400px;
			padding-left:30px;
			margin-bottom:10px;
			/*上内边距*/
			padding-top:5px;
		}
		#b{/*id选择器 ,标签要使用id属性 */
			font-size:24px;
			color:#f00;
		}
		.c{/*类选择器,标签要使用class属性值*/
			font-size:24px;
			color:#f00;
		}
		a{ /*标签选择器*/
			font-size:24px;
			color:#f00;
		}
		.c,p{/*使用,分割作为并集选择器*/
			font-size:24px;
			color:#f00;
		}
		.c i{/*使用空格分割作为交集选择器*/
			font-size:24px;
			color:#f00;
		}
		div *{ /* *通用选择器,此处使用交集*/
			font-size:24px;
			color:#f00;
		}
		/*伪类选择器有放置顺序要求,hover必须link和visited之后,active必须hover之后*/
		a:link{/*伪类选择器,状态有link 未被访问过; hover 鼠标经过;active 点击,*/
			font-size:20px;
			color:#fff;
		}
		a:visited{/*伪类选择器,状态有link 未被访问过; hover 鼠标经过;active 点击,*/
			font-size:24px;
			color:#f0f;
		}
		a:hover{/*伪类选择器,状态有link 未被访问过; hover 鼠标经过;active 点击,*/
			font-size:28px;
			color:#0f0;
		}
		a:active{/*伪类选择器,状态有link 未被访问过; hover 鼠标经过;active 点击,*/
			font-size:32px;
			color:#00f;
		}
		ul{
			list-style-type: none;/**/
			list-style-image: url(../img/start.jpg);/*使用图片作为前置序号标记*/
		}
		table{
			border-collapse: collapse;
			border-style: 2px;soli: #f00: /*简写属性*/
		}
		span{
			text-decoration:line-through;
			font-size:32px;
			color:#f00;
		}
		